* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
}

@font-face {
  font-family: "QuickSandReg";
  src: url("../fonts/QUICKSAND-REGULAR.TTF");
}

@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller_Lt.ttf");
}

@font-face {
  font-family: "Saturday";
  src: url("../fonts/saturday.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttf");
}

@font-face {
  font-family: "Nueva";
  src: url("../fonts/Nueva.otf");
}

@font-face {
  font-family: "Eternal";
  src: url("../fonts/eternal.ttf");
}

#navbar {
  font-family: QuickSandReg;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: white;
  text-transform: uppercase;
  transition: all .3s ease;
}

#navbar .logo-container {
  display: none;
}

#navbar img {
  margin: auto;
  width: 100px;
}

#navbar .nav-ul {
  display: flex;
  width: 670px;
  margin: auto;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
}

#navbar li {
  position: relative;
  vertical-align: middle;
  height: 60px;
  padding: 0 10px;
  cursor: pointer;
}

#navbar li a {
  vertical-align: middle;
  display: block;
  padding: 22px 0;
}

#navbar li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#navbar li:hover .sub-menu {
  display: block;
  transition-delay: 1s;
}

#navbar .sub-ul {
  position: absolute;
  right: 20px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

#navbar .sub-ul li {
  position: relative;
}

#navbar .outline {
  border: 1px solid black;
  padding: 5px 20px;
}

#navbar .sub-menu {
  position: absolute;
  padding: 0px 0;
  top: 100%;
  left: 0px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  /* color: white; */
  width: 255px;
  padding: 15px 0;
  display: none;
}

#navbar .sub-menu li {
  opacity: 0.6;
  margin: 0px 0;
  font-size: 13px;
  font-family: Aller;
  height: auto;
  transition: all .3s ease;
}

#navbar .sub-menu li a {
  padding: 0px 0;
  display: block;
  width: 100%;
  padding: 15px;
}

#navbar .sub-menu li:hover {
  opacity: 1;
  background-color: white;
}

#navbar .sub-menu.active {
  display: block;
}

.mobile-hide {
  position: relative;
  top: -9px;
  background: none !important;
}

#navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
}

.section-container#travelBanner, .section-container#contactBanner {
  background-image: url("../img/global/top-banner.png");
  min-height: 19vw;
  /* background: #333; */
  background-repeat: no-repeat;
  background-position: bottom;
}

#parentContainer {
  position: relative;
}

.stealth {
  font-size: 18px;
  color: #888;
  vertical-align: middle;
}

.section-container {
  position: relative;
}

.parralax-bg {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}

.paragraph {
  font-family: Aller;
  width: 1000px;
  margin: auto;
  line-height: 26px;
  font-size: 14px;
}

.wing-line {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.wing-line:after {
  content: "";
  width: 50px;
  position: absolute;
  top: 45%;
  border-bottom: 1px solid white;
  left: 100%;
}

.wing-line:before {
  content: "";
  width: 50px;
  position: absolute;
  top: 45%;
  border-bottom: 1px solid white;
  right: 100%;
}

.wing-line.black:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.wing-line.black:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.caption {
  letter-spacing: 1px;
  font-family: Aller;
  font-size: 20px;
  margin-top: 15px;
  font-family: Aller;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#indexSlider {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: saturday;
}

#indexSlider .slide-parent {
  position: relative;
}

#indexSlider .slide-items {
  overflow: hidden;
  transition: all .3s ease;
}

#indexSlider .text-container {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

#indexSlider .zoom {
  transform: scale(1.1);
  background-attachment: fixed;
}

#indexSlider .title {
  position: relative;
  left: 300px;
  opacity: 0;
  transition: all .6s ease .1s;
}

#indexSlider .caption {
  right: 300px;
  position: relative;
  opacity: 0;
  transition: all .5s ease .1s;
}

#indexSlider .slide-items.slick-active .zoom {
  transform: scale(1);
  animation: dollyZoom 5s linear;
}

#indexSlider .slide-items.slick-active .title {
  left: 0;
  opacity: 1;
}

#indexSlider .slide-items.slick-active .caption {
  opacity: 1;
  right: 0;
}

#indexSlider .banner-2 {
  background-image: url("../img/index/index-banner-1.png");
}

#indexSlider .banner-1 {
  background-image: url("../img/index/index-banner-3.png");
}

#indexSlider .title {
  font-family: Eternal;
  font-size: 30px;
}

#indexSlider .caption {
  font-family: Saturday;
  font-size: 120px;
}

@keyframes dollyZoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#destinationBanner {
  font-family: 'QuickSandReg';
}

#destinationBanner .white-header {
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 14px;
}

#destinationBanner .white-header .caption {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  font-family: Aller;
}

#destinationBanner .choice-belt {
  display: flex;
}

#destinationBanner .choice-module {
  width: 25vw;
  position: relative;
  overflow: hidden;
  top: 100px;
  opacity: 0;
}

#destinationBanner .choice-module img {
  max-width: 100%;
  transition: all .3s ease;
}

#destinationBanner .choice-module .button-caption {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  background: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: Aller;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

#destinationBanner .choice-module:hover img {
  transform: scale(1.1);
}

#destinationBanner .choice-module.active {
  opacity: 1;
  top: 0;
}

#destinationBanner .choice-module:nth-child(0) {
  transition: all 0s ease;
}

#destinationBanner .choice-module:nth-child(1) {
  transition: all 0.2s ease;
}

#destinationBanner .choice-module:nth-child(2) {
  transition: all 0.4s ease;
}

#destinationBanner .choice-module:nth-child(3) {
  transition: all 0.6s ease;
}

#destinationBanner .choice-module:nth-child(4) {
  transition: all 0.8s ease;
}

#destinationBanner .choice-module:nth-child(5) {
  transition: all 1s ease;
}

#indexBanner2 {
  height: 750px;
  max-height: 90vh;
  background-image: url(../img/index/index-banner-2.png);
  background-size: cover;
  background-position: center top;
}

#indexBanner2 .white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  z-index: 2;
}

#indexBanner2 .text-container {
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  font-family: Aller;
}

#indexBanner2 .text-container .paragraph {
  width: 500px;
}

#indexBanner2 .text-container .small-title {
  font-size: 24px;
}

#indexBanner2 .text-container .big-title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

#indexBanner2 .text-container .abs-rotate {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(-30deg);
  display: none;
}

#indexBanner3 {
  height: 750px;
  max-height: 90vh;
  background-image: url(../img/index/index-banner-3.png);
  background-size: cover;
  background-position: center -90px;
  color: white;
  font-family: QuickSandReg;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
}

#indexBanner3 .caption {
  margin-bottom: 50px;
  font-size: 30px;
}

#indexBanner3 .paragraph {
  width: 700px;
  line-height: 22px;
}

.overlay-button {
  background: rgba(0, 0, 0, 0.15);
  padding: 12px 20px;
  border-radius: 25px;
  display: block;
  width: 170px;
  font-family: Aller;
  margin: auto;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: #0e4079;
}

.overlay-button:active {
  transform: translateY(3px) scale(0.99);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}

#indexBook {
  background: #0c51a0;
  padding: 80px 0;
  color: white;
  font-family: QuickSandReg;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#indexBook .caption {
  font-size: 30px;
  margin-top: 15px;
  font-family: Aller;
}

#indexBook .paragraph {
  margin: 40px auto;
  opacity: 0.7;
}

#footer {
  font-family: QuickSandReg;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
  background: #0c51a0;
}

#footer .flex {
  width: 700px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

#footer .flex-module {
  margin: 10px 20px;
  opacity: 0.8;
  font-size: 14px;
}

#footer .flex-module img {
  display: inline;
  vertical-align: bottom;
}

.blue-anchor {
  color: #0c51a0;
  font-weight: bold;
}

.full-input {
  width: 100%;
  outline: none;
  padding: 13px 15px;
  font-size: 14px;
  font-family: Aller;
  color: black;
}

.curved {
  border-radius: 30px;
}

.outline-input {
  border: 2px solid #0c51a0;
}

.jo-popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  position: fixed;
}

.jo-popup .popup-fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.jo-popup .form-container {
  background: white;
  width: 500px;
  padding: 60px 60px;
  font-family: Aller;
}

.jo-popup .overlay-button {
  color: white;
  outline: none;
  box-shadow: none;
  margin: 30px auto;
}

.jo-popup .form-group {
  margin: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jo-popup .w50 {
  padding: 5px 10px;
  font-size: 13px;
  align-items: center;
  color: #888;
}

.jo-popup .disclaimer {
  text-align: center;
  color: #888;
  font-family: Aller;
  font-size: 12px;
  font-weight: bold;
}

.jo-checkbox {
  opacity: 0.5;
  margin-right: -13px;
  z-index: 5;
  opacity: 0;
  position: relative;
}

.jo-checkbox-mask {
  height: 12px;
  width: 12px;
  border: 2px solid #0c51a0;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.jo-checkbox-mask.active:after {
  content: "";
  height: 5px;
  width: 5px;
  background: #0c51a0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  cursor: pointer;
}

.v-middle {
  vertical-align: middle;
}

.jo-popup.active {
  display: block;
}

#travelBanner, #contactBanner {
  min-height: 15vw;
  background: #333;
}

#contactForm {
  min-height: 60vh;
}

#contactForm .title {
  text-align: center;
  font-family: Aller;
  text-transform: uppercase;
  margin: 60px 0 40px;
  font-size: 27px;
}

#contactForm .paragraph {
  text-align: center;
  width: 500px;
  line-height: 16px;
}

#contactForm form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

#contactForm .form-group {
  margin: 10px 0;
}

#contactForm .full-input {
  padding: 15px;
  background: #eee;
}

#contactForm .full-input.tall {
  height: 150px;
  resize: vertical;
}

#contactForm .dark {
  background: #333;
  color: white;
  cursor: pointer;
}

.container {
  width: 1000px;
  margin: auto;
}

#travelSummary {
  text-align: center;
  font-family: Aller;
}

#travelSummary .package-duration {
  margin-top: 50px;
  font-family: Avenir;
  margin-bottom: 10px;
  color: #888;
  font-size: 14px;
}

#travelSummary .package-price {
  font-family: Nueva;
  font-size: 40px;
}

#travelSummary .package-price .subcaption {
  font-family: Aller;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}

#travelSummary .package-flex {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#travelSummary .package-flex .package-choice {
  margin: 0 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

#travelSummary .overlay-button {
  text-align: center;
  color: white;
  box-shadow: none;
  margin: 70px auto;
}

#travelSummary .paragraph {
  width: 100%;
}

#travelHighlights {
  display: flex;
}

#travelHighlights .highlight-module {
  width: 25%;
  font-family: Avenir;
}

#travelHighlights .highlight-desc {
  padding: 30px;
  background: #fafafa;
}

#travelHighlights img {
  width: 100%;
}

#travelHighlights ul {
  list-style: initial;
  margin-left: 17px;
  font-size: 14px;
}

#travelHighlights li {
  list-style: initial;
  margin-top: 10px;
  color: #555;
}

#travelHighlights .bold {
  font-weight: bold;
  font-family: Aller;
}

#tipsContainer {
  font-family: Avenir;
  margin: 40px 0;
}

#tipsContainer .tips-title {
  font-weight: bold;
}

#tipsContainer .tips-handle {
  border: 1px solid black;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

#tipsContainer .tips-handle .tips-paragraph {
  color: #555;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

#tipsContainer .tips-handle.active .tips-paragraph {
  max-height: 300px;
  margin-top: 10px;
}
