* {
  box-sizing: border-box;
  background: none;
  border: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'HelveticaNeue' !important;
}

img {
  display: block;
}

.comingsoon-travel-detail {
  min-height: 49vh;
  text-align: center;
  padding: 15vh 0;
  font-size: 30px;
  letter-spacing: 1px;
}

@font-face {
  font-family: "Trajan";
  src: url("../fonts/Trajan.otf");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.otf");
}

@font-face {
  font-family: "QuickSandReg";
  src: url("../fonts/QUICKSAND-REGULAR.TTF");
}

@font-face {
  font-family: "Aller";
  src: url("../fonts/Aller_Lt.ttf");
}

@font-face {
  font-family: "Saturday";
  src: url("../fonts/saturday.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttf");
}

@font-face {
  font-family: "Nueva";
  src: url("../fonts/Nueva.otf");
}

@font-face {
  font-family: "Eternal";
  src: url("../fonts/eternal.ttf");
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf");
}

#navbar {
  font-family: QuickSandReg;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 55555;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  transition: all .3s ease;
}

#navbar .logo-container {
  display: none;
}

#navbar img {
  margin: auto;
  width: 100px;
}

#navbar .nav-ul {
  display: flex;
  width: 670px;
  margin: auto;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}

#navbar li {
  position: relative;
  vertical-align: middle;
  height: 60px;
  padding: 0 0px;
  cursor: pointer;
}

#navbar li a {
  vertical-align: middle;
  display: block;
  padding: 22px 0;
}

#navbar li:after {
  content: "";
  position: absolute;
  bottom: 17px;
  left: 0px;
  width: 0px;
  height: 2px;
  background: black;
  transition: all .3s ease;
}

#navbar li:hover .sub-menu {
  display: block;
  transition-delay: 1s;
}

#navbar li:hover:after {
  width: 100%;
  background: black;
}

#navbar .sub-ul {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: space-between;
}

#navbar .sub-ul li {
  position: relative;
  margin: 0 10px;
}

#navbar .account-ul {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
  top: 60px;
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
}

#navbar .account-ul li {
  width: 150px;
  text-align: center;
}

#navbar .account-ul.active {
  display: block;
}

#navbar .outline {
  border: 1px solid black;
  padding: 5px 20px;
}

#navbar .sub-menu {
  position: absolute;
  padding: 0px 0;
  top: 100%;
  left: 0px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
  /* color: white; */
  width: 255px;
  display: none;
}

#navbar .sub-menu li {
  opacity: 0.8;
  margin: 0px 0;
  font-size: 13px;
  font-family: Aller;
  height: auto;
  transition: all .3s ease;
}

#navbar .sub-menu li a {
  padding: 0px 0;
  display: block;
  width: 100%;
  padding: 15px;
}

#navbar .sub-menu li:after {
  display: none;
}

#navbar .sub-menu li:hover {
  opacity: 1;
  background-color: white;
}

#navbar .sub-menu.active {
  display: block;
}

li#account-handle:after {
  display: none !important;
}

#navbar.hasshadow {
  box-shadow: 0px 2px 20px 7px rgba(0, 0, 0, 0.17);
  background: white;
}

#navbar.textwhite {
  color: rgba(255, 255, 255, 0.8);
}

#navbar.textwhite li:after {
  background: white;
}

#navbar.textwhite .sub-menu {
  color: black;
}

.coming-soon {
  text-align: center;
  font-family: Trajan !important;
  padding: 22vh 0;
  font-size: 40px;
}

.who-we-are-footer {
  font-family: Trajan !important;
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 14px;
  color: white;
  line-height: 25px;
}

.mobile-hide {
  position: relative;
  top: -9px;
  background: none !important;
}

.mobile-hide:after {
  content: "";
  display: none;
}

li#account-handle {
  position: absolute;
  right: 15px;
  padding: 24px 10px;
}

#navbar.scrolled {
  background-color: white;
}

#navbar.scrolled img {
  margin: auto;
  width: 100px;
  filter: saturate(0%) brightness(60%) contrast(1000%);
}

.section-container#travelBanner, .section-container#contactBanner {
  background-image: url("../img/global/top-banner.png");
  min-height: 19vw;
  /* background: #333; */
  background-repeat: no-repeat;
  background-position: bottom;
}

.section-container#travelBanner {
  min-height: 100vh;
  background: black;
  background-image: url("../img/banner-1.png");
  background-size: cover;
  position: relative;
}

.section-container#travelBanner .text-container {
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  width: 50vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

.section-container#travelBanner .text-container .title {
  font-family: Saturday !important;
  font-size: 120px;
}

.section-container#travelBanner .text-container .sub-title {
  line-height: 27px;
  opacity: 0.7;
}

#parentContainer {
  position: relative;
}

.stealth {
  font-size: 18px;
  color: #888;
  vertical-align: middle;
}

.section-container {
  position: relative;
}

.parralax-bg {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
}

.paragraph {
  font-family: Aller;
  width: 1000px;
  margin: auto;
  line-height: 26px;
  font-size: 14px;
}

.wing-line {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
}

.wing-line:after {
  content: "";
  width: 50px;
  position: absolute;
  top: 45%;
  border-bottom: 1px solid white;
  left: 100%;
}

.wing-line:before {
  content: "";
  width: 50px;
  position: absolute;
  top: 45%;
  border-bottom: 1px solid white;
  right: 100%;
}

.wing-line.black:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.wing-line.black:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.caption {
  letter-spacing: 1px;
  font-family: Aller;
  font-size: 20px;
  margin-top: 15px;
  font-family: Aller;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#indexSlider {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: saturday;
}

#indexSlider .slide-parent {
  position: relative;
}

#indexSlider .slide-items {
  overflow: hidden;
  transition: all .3s ease;
}

#indexSlider .text-container {
  z-index: 5;
  position: absolute;
  left: 0%;
  width: 100%;
  bottom: 5%;
  padding-left: 5%;
  align-items: baseline;
}

#indexSlider .zoom {
  transform: scale(1.1);
  background-attachment: fixed;
}

#indexSlider .slick-dots {
  position: relative;
  top: -50px;
}

#indexSlider .slick-dots li {
  width: 50px;
  height: 8px;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
}

#indexSlider .slick-dots li.slick-active {
  background: rgba(255, 255, 255, 0.9);
}

#indexSlider .title {
  text-align: left;
  position: relative;
  left: 300px;
  opacity: 0;
  transition: all .6s ease .1s;
}

#indexSlider .caption {
  text-align: left;
  right: 300px;
  position: relative;
  opacity: 0;
  transition: all .5s ease .1s;
}

#indexSlider .slide-items.slick-active .zoom {
  transform: scale(1);
  animation: dollyZoom 5s linear;
}

#indexSlider .slide-items.slick-active .title {
  left: 0;
  opacity: 1;
}

#indexSlider .slide-items.slick-active .caption {
  opacity: 1;
  right: 0;
}

#indexSlider .banner-2 {
  background-image: url("../img/index/index-banner-1.png");
}

#indexSlider .banner-1 {
  background-image: url("../img/index/index-banner-3.png");
}

#indexSlider .title {
  font-family: Eternal;
  font-size: 20px;
  margin-right: 10px;
  font-family: 'Open Sans';
}

#indexSlider .caption {
  font-family: Saturday;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'Open Sans';
}

@keyframes dollyZoom {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#destinationBanner {
  font-family: 'QuickSandReg';
}

#destinationBanner .white-header {
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 14px;
}

#destinationBanner .white-header .caption {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  font-family: Aller;
}

#destinationBanner .slick-dots {
  position: absolute;
  bottom: 20px;
}

#destinationBanner .choice-belt {
  display: flex;
}

#destinationBanner .choice-module {
  width: 50vw;
  position: relative;
  overflow: hidden;
  top: 100px;
  opacity: 0;
  height: 25vw;
  overflow: hidden;
}

#destinationBanner .choice-module img {
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}

#destinationBanner .choice-module .button-caption {
  display: inline-block;
  padding: 10px 30px;
  background: rgba(222, 222, 222, 0.67);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-family: Aller;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

#destinationBanner .choice-module:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}

#destinationBanner .choice-module.active {
  opacity: 1;
  top: 0;
}

#destinationBanner .choice-module:nth-child(0) {
  transition: all 0s ease;
}

#destinationBanner .choice-module:nth-child(1) {
  transition: all 0.2s ease;
}

#destinationBanner .choice-module:nth-child(2) {
  transition: all 0.4s ease;
}

#destinationBanner .choice-module:nth-child(3) {
  transition: all 0.6s ease;
}

#destinationBanner .choice-module:nth-child(4) {
  transition: all 0.8s ease;
}

#destinationBanner .choice-module:nth-child(5) {
  transition: all 1s ease;
}

#indexBanner2 {
  height: 750px;
  max-height: 90vh;
  background-image: url(../img/index/index-banner-2.png);
  background-size: cover;
  background-position: center top;
  text-align: center;
}

#indexBanner2 .paragraph {
  width: 50vw;
  margin: auto;
  line-height: 22px;
  font-size: 12px;
}

#indexBanner2 .white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  z-index: 2;
}

#indexBanner2 .caption {
  font-family: Trajan !important;
  text-transform: lowercase;
  padding: 20px 0;
  font-size: 30px;
  margin: 0;
}

#indexBanner2 .text-container {
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  font-family: Aller;
}

#indexBanner2 .text-container .paragraph {
  width: 500px;
}

#indexBanner2 .text-container .small-title {
  font-size: 24px;
}

#indexBanner2 .text-container .big-title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

#indexBanner2 .text-container .abs-rotate {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(-30deg);
  display: none;
}

#indexBanner3 {
  height: 90vh;
  max-height: 90vh;
  background-image: url(../img/index/index-banner-3.png);
  background-size: cover;
  background-position: center -90px;
  color: white;
  font-family: QuickSandReg;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
}

#indexBanner3 .caption {
  margin-bottom: 50px;
  font-size: 30px;
}

#indexBanner3 .paragraph {
  width: 700px;
  line-height: 22px;
}

#fblogin, #googlelogin {
  display: block;
  text-align: center;
}

#fblogin a, #googlelogin a {
  background: #eee;
  display: block;
  padding: 10px 0;
  color: white;
  font-size: 14px;
}

#fblogin a {
  background: #3b5998;
}

#googlelogin a {
  background: #dd4b39;
}

.overlay-button {
  background: rgba(0, 0, 0, 0.15);
  padding: 12px 20px;
  border-radius: 25px;
  display: block;
  width: 170px;
  font-family: Aller;
  margin: auto;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: #0e4079;
}

.overlay-button:active {
  transform: translateY(3px) scale(0.99);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}

#indexBook {
  background: #0c51a0;
  padding: 80px 0;
  color: white;
  font-family: QuickSandReg;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#indexBook .caption {
  font-size: 30px;
  margin-top: 15px;
  font-family: Aller;
}

#indexBook .paragraph {
  margin: 40px auto;
  opacity: 0.7;
}

div#travel-banner-div {
  padding: 15vh 0 7vh;
  text-align: center;
}

#travel-banner-title {
  font-family: QuicksandReg !important;
  font-size: 32px;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  position: relative;
}

#all-travel-container {
  min-height: 64vh;
}

#travel-banner-title:after {
  content: "";
  width: 30px;
  background: black;
  height: 1px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%);
  display: block;
}

#footer {
  font-family: QuickSandReg;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
  background: #0c51a0;
}

#footer .flex {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

#footer .flex-module {
  margin: 10px 20px;
  opacity: 0.8;
  font-size: 14px;
}

#footer .flex-module img {
  display: inline;
  vertical-align: bottom;
}

.blue-anchor {
  color: #0c51a0;
  font-weight: bold;
}

.full-input {
  width: 100%;
  outline: none;
  padding: 13px 15px;
  font-size: 14px;
  font-family: Aller;
  color: black;
}

.curved {
  border-radius: 30px;
}

.outline-input {
  border: 2px solid #0c51a0;
}

.jo-popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  position: fixed;
}

.jo-popup .popup-fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.jo-popup .form-container {
  background: white;
  width: 500px;
  padding: 60px 60px;
  font-family: Aller;
}

.jo-popup .overlay-button {
  color: white;
  outline: none;
  box-shadow: none;
  margin: 30px auto;
}

.jo-popup .form-group {
  margin: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jo-popup .w50 {
  padding: 5px 10px;
  font-size: 13px;
  align-items: center;
  color: #888;
}

.jo-popup .disclaimer {
  text-align: center;
  color: #888;
  font-family: Aller;
  font-size: 12px;
  font-weight: bold;
}

.jo-checkbox {
  opacity: 0.5;
  margin-right: -13px;
  z-index: 5;
  opacity: 0;
  position: relative;
}

.jo-checkbox-mask {
  height: 12px;
  width: 12px;
  border: 2px solid #0c51a0;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  cursor: pointer;
}

.jo-checkbox-mask.active:after {
  content: "";
  height: 5px;
  width: 5px;
  background: #0c51a0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  cursor: pointer;
}

.v-middle {
  vertical-align: middle;
}

.jo-popup.active {
  display: block;
}

#travelBanner, #contactBanner {
  min-height: 15vw;
}

#contactBanner {
  background: #fff;
}

#contactBanner .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Athiti;
  text-align: center;
}

#contactBanner .text-container .contact-us-banner-title {
  font-family: Saturday !important;
  font-size: 120px;
}

#contactForm {
  min-height: 60vh;
}

#contactForm .title {
  text-align: center;
  font-family: Trajan !important;
  text-transform: uppercase;
  margin: 60px 0 40px;
  font-size: 27px;
}

#contactForm .paragraph {
  text-align: center;
  width: 500px;
  line-height: 16px;
}

#contactForm form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

#contactForm .form-group {
  margin: 10px 0;
}

#contactForm .full-input {
  padding: 15px;
  background: #eee;
}

#contactForm .full-input.tall {
  height: 150px;
  resize: vertical;
}

#contactForm .dark {
  background: #333;
  color: white;
  cursor: pointer;
}

.container {
  width: 1000px;
  margin: auto;
}

#travelPrice {
  padding: 20px 0;
  text-align: center;
}

#travelPrice .package-duration {
  font-family: QuickSandReg !important;
}

#travelPrice .package-price {
  font-size: 38px;
  font-family: Trajan !important;
  padding-bottom: 30px;
}

#travelPrice .package-price .subcaption {
  font-size: 12px;
  opacity: 0.8;
}

#travelPrice .package-flex .package-title {
  font-family: QuickSandReg !important;
  font-size: 20px;
  padding-bottom: 20px;
}

#travelPrice .package-flex .package-choice {
  padding: 5px 0;
  font-family: Avenir !important;
}

#travelPrice .package-button {
  background: black;
  width: 150px;
  margin-top: 20px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-family: QuickSandReg !important;
  margin: 20px auto;
}

#travelSummary {
  padding: 50px 0;
  text-align: center;
  font-family: Aller;
}

#travelSummary .package-duration {
  margin-top: 50px;
  font-family: Avenir;
  margin-bottom: 10px;
  color: #888;
  font-size: 14px;
}

#travelSummary .package-price {
  font-family: Nueva;
  font-size: 40px;
}

#travelSummary .package-price .subcaption {
  font-family: Aller;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}

#travelSummary .package-flex {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

#travelSummary .package-flex .package-choice {
  margin: 0 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

#travelSummary .overlay-button {
  text-align: center;
  color: white;
  box-shadow: none;
  margin: 70px auto;
}

#travelSummary .paragraph {
  width: 100%;
}

.slick-dots {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.slick-dots li {
  display: inline-block;
  height: 10px;
  width: 10px;
  cursor: pointer;
  background: white;
  border: 2px solid #0e4079;
  margin: 0 10px;
  border-radius: 50%;
}

.slick-dots li button {
  display: none;
}

.slick-dots li.slick-active {
  background: #0e4079;
}

#travelHighlights {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  padding-bottom: 60px;
}

#travelHighlights .slick-dots {
  position: absolute;
  bottom: 30px;
  margin: 0;
  padding-left: 30px;
}

#travelHighlights .slick-dots li {
  border: 0px solid white;
  margin: 0 10px;
  transition: all .3s ease;
  background: #aaa;
}

#travelHighlights .slick-dots li.slick-active {
  background: black;
}

#travelHighlights * {
  outline: none;
}

#travelHighlights .highlight-module {
  width: 25%;
  margin: 10px 0;
  font-family: Avenir;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  position: relative;
  transition: all .3s ease;
  padding-bottom: 230px;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
}

#travelHighlights .highlight-module .slick-dots {
  position: absolute;
  bottom: 30px;
  margin: 0;
  padding-left: 30px;
  justify-content: flex-start;
}

#travelHighlights .highlight-module .slick-dots li {
  border: 0px solid white;
  margin: 0 5px;
  transition: all .3s ease;
  background: white;
}

#travelHighlights .highlight-module .slick-dots li.slick-active {
  background: black;
}

#travelHighlights .highlight-module .w100 {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#travelHighlights .highlight-module .w100 img {
  width: 100%;
}

#travelHighlights .highlight-module:hover {
  z-index: 5;
  position: relative;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.15);
}

#travelHighlights .highlight-module:hover .highlight-desc {
  background: white;
}

#travelHighlights .highlight-module:hover .highlight-desc.active {
  background: black;
}

#travelHighlights .highlight-desc {
  padding: 30px 30px 30px 30px;
  background: #fafafa;
  transition: all .3s ease;
  height: 230px;
  position: absolute;
  color: black;
  bottom: 0;
  left: 0;
}

#travelHighlights .highlight-desc .read-handle {
  position: absolute;
  bottom: 20px;
  font-family: Avenir !important;
  border-bottom: 1px solid transparent;
}

#travelHighlights .highlight-desc .read-handle:hover {
  border-bottom: 1px solid black;
}

#travelHighlights .highlight-desc .day-container {
  position: absolute;
  height: 65px;
  width: 65px;
  background: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  top: -32px;
  right: 20px;
  padding: 10px 0;
  font-size: 10px;
  transition: all .3s ease;
}

#travelHighlights .highlight-desc .day-container .block {
  font-family: Trajan !important;
  font-size: 24px;
}

#travelHighlights .highlight-desc .highlight-summary {
  padding: 10px 0;
  line-height: 23px;
  position: relative;
  overflow: hidden;
  height: 100px;
  transition: all .3s ease;
}

#travelHighlights .highlight-desc.active {
  height: 100%;
  background: black;
  color: rgba(255, 255, 255, 0.8);
}

#travelHighlights .highlight-desc.active .highlight-summary {
  height: 90%;
  overflow: auto;
  padding-right: 0px;
  padding-bottom: 50px;
}

#travelHighlights .highlight-desc.active .bold {
  font-size: 17px;
}

#travelHighlights .highlight-desc.active .day-container {
  top: 200px;
  opacity: 0;
}

#travelHighlights .highlight-desc.active .read-handle {
  display: none;
}

#travelHighlights .highlight-desc.active .close-handle {
  display: block;
}

#travelHighlights .close-handle {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-family: Trajan !important;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  opacity: 0.8;
  transition: all .3s ease;
  display: none;
  transform: translateX(-50%) rotateZ(45deg) scale(1.1);
}

#travelHighlights .close-handle:hover {
  opacity: 1;
}

#travelHighlights ul {
  list-style: initial;
  margin-left: 17px;
  font-size: 14px;
}

#travelHighlights li {
  list-style: initial;
  margin-top: 10px;
  color: #555;
}

#travelHighlights .bold {
  margin-bottom: 10px;
  font-size: 15px;
}

#tipsContainer {
  font-family: Avenir;
  margin: 40px 0;
}

#tipsContainer .tips-title {
  font-weight: bold;
}

#tipsContainer .tips-handle {
  border: 1px solid black;
  padding: 15px;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

#tipsContainer .tips-handle .tips-paragraph {
  color: #555;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease;
}

#tipsContainer .tips-handle .tips-paragraph ul {
  list-style: circle;
}

#tipsContainer .tips-handle .tips-paragraph ul li {
  list-style: disc;
  list-style-type: disc;
  list-style-position: inside;
}

#tipsContainer .tips-handle.active .tips-paragraph {
  max-height: 300px;
  margin-top: 10px;
}

#adminContainer {
  min-height: 100vh;
  padding: 20vh 0;
  font-family: QuickSandReg;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#adminContainer .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all .5s ease;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#adminContainer .fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: white;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.32) 9%, rgba(255, 255, 255, 0.47) 31%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.32) 9%, rgba(255, 255, 255, 0.47) 31%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.32) 0%, rgba(255, 255, 255, 0.32) 9%, rgba(255, 255, 255, 0.47) 31%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

#adminContainer .intro {
  text-transform: uppercase;
  font-size: 14px;
  color: #555;
  position: relative;
  z-index: 5;
}

#adminContainer .intro .username {
  color: black;
  font-weight: bold;
}

#adminContainer .title {
  color: black;
  font-size: 26px;
  margin: 15px 0 15px;
  font-family: Aller;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

#adminContainer .gallery-flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

#adminContainer .gallery-flex .flex-module {
  width: 23%;
  height: 350px;
  border: 3px solid transparent;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
}

#adminContainer .gallery-flex .flex-module .img-fader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 1%, transparent 47%, black 79%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, transparent 47%, black 79%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, transparent 47%, black 79%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

#adminContainer .gallery-flex .flex-module img {
  height: 280px;
  display: block;
}

#adminContainer .gallery-flex .flex-module .hover-tint {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 13px;
  opacity: 0;
  transition: all .3s ease;
}

#adminContainer .gallery-flex .flex-module .hover-tint img {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

#adminContainer .gallery-flex .flex-module .flex-info {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-align: left;
}

#adminContainer .gallery-flex .flex-module .flex-info .info-period {
  font-size: 11px;
  font-family: MyriadPro;
}

#adminContainer .gallery-flex .flex-module .flex-info .info-destination {
  text-transform: uppercase;
  margin-top: 5px;
  font-family: MyriadPro;
}

#adminContainer .gallery-flex .flex-module:hover {
  border: 3px solid white;
}

#adminContainer .gallery-flex .flex-module:hover .hover-tint {
  opacity: 1;
}

#adminGallery {
  min-height: 100vh;
  padding: 20vh 0;
  font-family: QuickSandReg;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#adminGallery .container {
  width: 84vw;
}

#adminGallery .title {
  color: black;
  font-size: 26px;
  margin: 15px 0 5px;
  font-family: Aller;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

#adminGallery .subcaption {
  font-size: 13px;
  font-family: MyriadPro;
  color: #777;
}

#adminGallery .admin-gallery-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

#adminGallery .admin-gallery-flex .flex-module {
  border: 1px solid white;
  height: 12vw;
  width: 12vw;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#adminGallery .admin-gallery-flex .flex-module img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.download-button {
  background: white;
  padding: 20px 25px 15px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
  width: 260px;
  margin: 40px auto;
  border-radius: 13px;
  font-size: 16px;
  color: black;
  font-family: MyriadPro;
  cursor: pointer;
}

.download-button div {
  padding-bottom: 5px;
}

.download-button span {
  margin-top: 10px;
  font-size: 13px;
  opacity: 0.4;
}

.popup-parent {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 55;
  top: 0;
  left: 0;
  display: none;
}

.popup-parent .fader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.popup-parent .image-container {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  max-height: 90vh;
}

.popup-parent .image-container img {
  max-width: 90vw;
  max-height: 90vh;
  display: block;
}

.popup-parent.active {
  display: block;
}

#adminAccount {
  min-height: 100vh;
  padding: 20vh 0;
  font-family: QuickSandReg;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#adminAccount .title {
  font-family: Aller;
  font-weight: bold;
  font-size: 20px;
}

#adminAccount .flex {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

#adminAccount .w100 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

#adminAccount .border-form {
  background: white;
  padding: 20px 25px 15px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 30px 0;
  position: relative;
}

#adminAccount .form-group {
  width: 45%;
}

#adminAccount .form-group .full-input {
  border-bottom: 1px solid #aeaeae;
  padding: 5px;
  margin-top: 10px;
}

#adminAccount .form-group .caption {
  font-size: 13px;
  font-family: MyriadPro;
  color: #aeaeae;
}

#adminAccount .form-group:focus .full-input {
  border-bottom: 1px solid #222;
}

#adminAccount .form-group:focus .caption {
  color: #222;
}

#adminAccount .button-container {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#adminAccount .button-container:after {
  content: "";
  height: 20px;
  width: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-135deg);
  z-index: 5;
}

#adminAccount .rounded-submit {
  width: 65px;
  height: 65px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
}

#adminAccount .cancel-btn {
  position: absolute;
  bottom: -30px;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: MyriadPro;
  color: #aeaeae;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.div-post-item {
  display: flex;
  flex-wrap: wrap;
}

.div-post-item-image {
  width: 50%;
}

img.post-item-image {
  display: block;
  width: 100%;
}

.div-post-item-con {
  width: 50%;
  padding: 10px 30px;
}

.div-post-item-con .div-post-item-date {
  font-size: 14px;
  opacity: 0.65;
}

.div-post-item-con .div-post-item-title {
  font-size: 24px;
  padding: 10px 0;
}

.div-post-item-con .div-post-item-paragraph {
  opacity: 0.8;
  padding: 10px 0 20px;
  font-size: 15px;
  line-height: 1.4;
}

.div-post-item-con .div-post-item-button {
  padding: 5px 0;
  border-bottom: 1px solid black;
  display: inline-block;
}

.post-date {
  font-size: 24px;
  margin: 40px 0 0;
}

a.post-anchor {
  padding: 25px 0;
  border-bottom: 1px solid #eee;
  display: block;
  width: 100%;
}

#section-post-detail {
  padding-top: 90px;
  min-height: 86vh;
}

#section-post-detail .sm-container {
  width: 700px;
  margin: auto;
}

#section-post-detail .div-post-detail-time-container {
  text-align: center;
  opacity: 0.7;
}

#section-post-detail .div-post-detail-title {
  font-size: 40px;
  text-align: center;
  padding: 10px 0 20px;
}

#section-post-detail img.div-post-detail-image {
  width: 90%;
  margin: auto;
}

#section-post-detail .div-post-detail-paragraph {
  color: #888;
  line-height: 1.4;
  padding: 20px 0 30px;
  font-size: 15px;
}

#section-post-detail .div-post-detail-paragraph p {
  padding: 5px 0;
}

section#section-post-not-found {
  min-height: 86vh;
}

section#section-post-not-found .div-post-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  letter-spacing: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0 40px;
  width: 100%;
}

.pagination li {
  margin: 0 10px;
  cursor: pointer;
  padding: 0 5px;
  opacity: 0.5;
}

.pagination li:hover {
  opacity: 0.8;
}

.pagination li.active {
  opacity: 1;
}

.pagination li.disabled {
  opacity: 0.2;
}

.close-button {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 20px;
  transform: rotateZ(45deg);
  cursor: pointer;
}

#whoWeAreBanner {
  min-height: 90vh;
  background-position: center center;
  background-size: cover;
  padding: 30vh 30vw;
  text-align: center;
}

#whoWeAreBanner .text-container {
  font-size: 40px;
}

#whoWeAreBanner .contact-us-banner-title {
  font-family: QuicksandReg !important;
  position: relative;
  font-size: 34px;
  margin-bottom: 40px;
}

#whoWeAreBanner .contact-us-banner-title:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  border-bottom: 1px solid white;
  width: 40px;
}

.whoWeAreBanner > .section-container {
  position: relative;
  padding: 0 300px;
}

.section-container#contactBanner {
  background-image: none;
  background-color: #f2f2f2;
  padding: 9vh 0;
}

.section-container#contactBanner .text-container {
  padding-top: 40px;
  font-size: 20px;
  position: static;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  text-align: center;
}

.section-container#contactBanner .contact-us-banner-title {
  font-size: 25px;
  font-family: QuicksandReg !important;
  position: relative;
}

.section-container#contactBanner .contact-us-banner-title:after {
  content: "";
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 40px;
  border-bottom: 1px solid black;
}

.section-container#contactBanner .full-input {
  background: #dedede;
}

.section-container#contactBanner .full-input:focus {
  background: white;
}

.section-container#contactBanner .dark {
  background: black;
}

.section-container#contactBanner .dark:focus {
  background: black;
}

#indexBook .caption {
  font-family: Trajan !important;
  text-transform: lowercase;
}

.home-sharing-title {
  display: none;
}

.home-sharing {
  display: flex;
  width: 1000px;
  margin: 50px auto 20px;
  justify-content: space-between;
}

.home-sharing .home-sharing-image {
  overflow: hidden;
}

.home-sharing .home-sharing-content {
  padding: 10px 15px;
  line-height: 25px;
}

.home-sharing .home-sharing-date {
  padding: 0 15px;
  font-size: 13px;
  opacity: 0.6;
}

.home-sharing .home-sharing-data {
  width: 33%;
  text-align: left;
  padding: 0 5px;
}

.home-sharing .home-sharing-data img {
  display: block;
  width: 100%;
  transition: all .3s ease;
}

.home-sharing .home-sharing-data:hover img {
  transform: scale(1.1);
}

.home-sharing-button a {
  border: 1px solid white;
  padding: 10px 20px;
  display: inline-block;
}

.flexdiv {
  display: flex;
  width: 750px !important;
  justify-content: space-around;
}

.flexdiv .special {
  text-align: left;
  padding-top: 50px;
  line-height: 20px;
}

.flexdiv .special b {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: -10px;
}

.flexdiv .special a {
  opacity: 0.8;
  font-size: 14px;
}

.coming-soon.no-content-available.be-spoke-comingsoon {
  min-height: 90vh;
  background-position: center center;
  background-size: cover;
  padding: 40vh;
}

.destination-list-container {
  display: flex;
  min-height: 55vh;
  flex-wrap: wrap;
}

.destination-list-container a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.destination-list-container a img {
  width: 100%;
}

.destination-list-container .destination-list-module {
  text-align: center;
  width: 50%;
  padding: 15px 0;
}

.destination-list-container .button-caption {
  width: 100%;
  padding: 20px 0 10px;
  /* font-weight: bold; */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.destination-list-container .short-caption {
  font-size: 12px;
  margin: auto;
  width: 80%;
}

.destination-list-container .travel-image-box {
  position: relative;
  overflow: hidden;
}

.destination-list-container .travel-image-box img {
  display: block;
  transition: all 1.5s ease;
}

.destination-list-container .travel-image-box .hover-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 55;
  color: white;
  transition: all .3s ease;
  padding: 25% 0;
}

.destination-list-container .travel-image-box .hover-tint .button-caption {
  width: 100%;
  padding: 20px 0 10px;
  /* font-weight: bold; */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.destination-list-container .travel-image-box .hover-tint .short-caption {
  transition: all .5s ease;
  position: relative;
  opacity: 0;
}

.destination-list-container .travel-image-box .hover-tint:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  transition: all .5s ease;
  display: block;
  opacity: 0;
  border: 1px solid white;
  width: 85%;
  height: 85%;
  content: "";
}

.destination-list-container .travel-image-box:hover img {
  transform: scale(1.2);
}

.destination-list-container .travel-image-box:hover .hover-tint {
  padding: 23% 0;
}

.destination-list-container .travel-image-box:hover .hover-tint:after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.destination-list-container .travel-image-box:hover .short-caption {
  top: 0px;
  opacity: 1;
}
