// init start
*{
    box-sizing: border-box;
    background: none;
    border: none;
    color: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    // -webkit-backface-visibility: hidden;
    font-family: 'HelveticaNeue' !important;
}
img{
    display: block;
}
.comingsoon-travel-detail {
    min-height: 49vh;
    text-align: center;
    padding: 15vh 0;
    font-size: 30px;
    letter-spacing: 1px;
}
//init end
@font-face {
    font-family: "Trajan";
    src: url('../fonts/Trajan.otf');
}
@font-face {
    font-family: "HelveticaNeue";
    src: url('../fonts/HelveticaNeue.otf');
}
@font-face {
    font-family: "QuickSandReg";
    src: url('../fonts/QUICKSAND-REGULAR.TTF');
}
@font-face {
    font-family: "Aller";
    src: url('../fonts/Aller_Lt.ttf');
}
@font-face {
    font-family: "Saturday";
    src: url('../fonts/saturday.ttf');
}
@font-face {
    font-family: "Avenir";
    src: url('../fonts/Avenir.ttf');
}
@font-face {
    font-family: "Nueva";
    src: url('../fonts/Nueva.otf');
}
@font-face {
    font-family: "Eternal";
    src: url('../fonts/eternal.ttf');
}
@font-face {
    font-family: "MyriadPro";
    src: url('../fonts/MyriadPro-Regular.otf');
}

#navbar{
    font-family: QuickSandReg;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9;
    padding: 20px 0;
    // color: white;
    // background: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 1);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    img{
        margin: auto;
        margin: 0;
        width: 80px;
    }
    li:hover{
        .sub-menu{
            // display: block;
            transition-delay: 1s;
        }
    }
    .nav-ul{
        display: block;
        width: 100%;
        margin: auto;
        justify-content: space-between;
        padding: 0px 0;
        // display: none;
        position: absolute;
        // background: white;
        color: black;
        top: 46px;
        left: 0;
        flex-wrap: wrap;
        text-align: left;
        display: none;
        animation: hueRotate 5s linear infinite;

        // background: -moz-linear-gradient(-45deg, rgba(30,153,130,1) 0%, rgba(30,153,130,0.99) 2%, rgba(110,41,153,0.74) 100%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(-45deg, rgba(30,153,130,1) 0%,rgba(30,153,130,0.99) 2%,rgba(110,41,153,0.74) 100%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(135deg, rgba(30,153,130,1) 0%,rgba(30,153,130,0.99) 2%,rgba(110,41,153,0.74) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e9982', endColorstr='#bd6e2999',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        li{
            width: 100%;
            padding: 10px 15px;
            // border-bottom: 1px solid rgba(0,0,0,0.1);
            position: relative;
            background: rgba(250, 250, 250, 1);
            transition: all .3s ease;
            a{
                display: block;
            }
        }
    }
    .nav-ul.active{
        display: block;
        li{
        }
    }
    .sub-menu{
        padding: 20px 0 0;
        // position: absolute;
        // top: 45px;
        // left: -30px;
        text-align: left;
        // background: black;
        // color: white;
        // width: 280px;
        // padding: 20px 30px 30px;
        display: none;
        // transition: all .3s ease 5s;
        li{
            // border-bottom: 1px solid #888;
            // opacity: 0.6;
            // margin: 13px 0;
            font-size: 13px;
            font-family: Aller;
            padding: 0;
            a{
                padding: 10px 0px 10px 20px;
                // border-bottom: 1px solid #888;
                display: block;
            }
        }
        li:hover{
            opacity: 1;
        }
    }
    .sub-menu.active{
        display: block;
    }
}
#navbar.scrolled{
    background-color: rgba(255, 255, 255, 1);
    img {
        margin: auto;
        width: 80px;
        filter: saturate(0%) brightness(60%) contrast(1000%);
    }
}
.mobile-hide{
    display: none;
}
@keyframes hueRotate {
    0%{
        filter: hue-rotate(0);
    }
    100%{
        filter: hue-rotate(360deg);
    }

}
#account-handle{
    display: none;
}
.mobile-handle{
    width: 35px;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    .mobile-lines{
        border: 1px solid black;
        margin: 5px;
        position: relative;
        transition: all .3s ease;
        top: 0;
    }
}
.mobile-handle.active{
    #line1{
        transform: rotateZ(45deg);
        top: 7px;
    }
    #line2{
        opacity: .0;
        // transform: rotateZ(45deg);
        border-radius: 50%;
    }
    #line3{
        transform: rotateZ(-225deg);
        top: -7px;
    }
}
#parentContainer{
    position: relative;
}

.section-container{
    position: relative;
}
.parralax-bg{
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center center;
}
.paragraph{
    font-family: Aller;
    width: 100%;
    margin: auto;
    line-height: 23px;
    font-size: 14px;
}
.wing-line{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.wing-line:after{
    content: "";
    width: 50px;
    position: absolute;
    top: 45%;
    border-bottom: 1px solid white;
    left: 100%;
    display: none;
}
.wing-line:before{
    content: "";
    width: 50px;
    position: absolute;
    top: 45%;
    border-bottom: 1px solid white;
    right: 100%;
    display: none;
}
.wing-line.black:after{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.wing-line.black:before{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.caption{
    letter-spacing: 1px;
    font-family: Aller;
    font-size: 20px;
    margin-top: 15px;
    font-family: Aller;
}
.abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


#indexSlider{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: saturday;
    .slick-dots{
        position: relative;
        top: -100px;
        li{
            width: 12px;
            height: 12px;
        }
    }
    .slide-parent{
        position: relative;
    }
    .parralax-bg{
        min-height: 100vh;
        min-width: 100vw;
    }
    .slide-items{
        overflow: hidden;
        transition: all .3s ease;
    }
    .text-container{
        z-index: 5;
        position: absolute;
        left: 0%;
        width: 100%;
        bottom: 5%;
        display: flex;
        padding-left: 5%;
        display: flex;
        align-items: baseline;
    }
    .zoom{
        // transition: all 0.5s cubic-bezier(0.77, -0.24, 0.15, 1.21);
        transform: scale(1.1);
        // opacity: 0.5;
        // filter: blur(5px);
    }
    .title{
        position: relative;
        left: 300px;
        opacity: 0;
        transition: all .6s ease .1s;
    }
    .caption{
        right: 300px;
        position: relative;
        opacity: 0;
        transition: all .5s ease .1s;

    }
    .slide-items.slick-active{
        .zoom{
            transform: scale(1);
            // filter: blur(0);
            // opacity: 1;
            animation: dollyZoom 5s linear
        }
        .title{
            left: 0;
            opacity: 1;
        }
        .caption{
            opacity: 1;
            right: 0;
        }
    }
    .banner-2{
        background-image: url('../img/index/index-banner-3.png');
    }
    .banner-1{
        background-image: url('../img/index/index-banner-3.png');
    }
    .title{
        font-family: Eternal;
        font-size: 18px;
        margin-right: 10px;
        font-family: 'Open Sans';
    }
    .caption{
        font-family: Saturday;
        font-size: 14px;
        margin-top: 0;
        font-family: 'Open Sans';
    }
}

@keyframes dollyZoom {
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

#destinationBanner{
    font-family: 'QuickSandReg';
    .white-header{
        text-align: center;
        padding: 50px 0;
        text-transform: uppercase;
        font-size: 14px;
        .caption{
            font-size: 20px;
            font-weight: bold;
            margin-top: 15px;
            font-family: Aller;
        }
    }
    .choice-belt{
        display: flex;
        flex-wrap: wrap;
    }
    .choice-module{
        width: 100vw;
        position: relative;
        overflow: hidden;
        img{
            max-width: 100%;
            transition: all .3s ease;
        }
        .button-caption{
            display: inline-block;
            padding: 10px 30px;
            border-radius: 20px;
            background: white;
            color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            font-family: Aller;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
        }
    }
    .choice-module:hover{
        img{
            transform: scale(1.1);
        }
        .button-caption{
        }
    }
}

#indexBanner2{
    height: 450px;
    max-height: 90vh;
    background-image: url(../img/index/index-banner-2.png);
    background-size: cover;
    background-position: center center !important;
    text-align: center;
    .white-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.4);
        z-index: 2;
    }
    .text-container{
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        position: relative;
        z-index: 5;
        height: 100%;
        text-align: center;
        padding: 50px 0 0;
        font-family: Aller;
        .paragraph{
            width: 100%;
            font-weight: bold;
            position: absolute;
            bottom: 0;
            text-align: center;
            font-size: 13px;
            padding: 20px;
            line-height: 18px;
            max-width: 100% !important;
        }
        .small-title{
            font-size: 24px;
        }
        .big-title{
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .abs-rotate{
            position: absolute;
            top: 30px;
            left: 20px;
            transform: rotateZ(-30deg);
            display: none;
        }
    }

}

#indexBanner3{
    height: 450px;
    max-height: 90vh;
    background-image: url(../img/index/index-banner-3.png);
    background-size: cover;
    background-position: center center !important;
    color: white;
    font-family: QuickSandReg;
    text-align: center;
    // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52);
    .abs-center{
        width: 100%;
        padding: 40px 20px;
        background: rgba(255,255,255,0.1);
        height: 100%;
    }
    .caption{
        margin-bottom: 30px;
    }
    .paragraph{
        width: 100%;
    }
}
#fblogin, #googlelogin{
    display: block;
    text-align: center;
    a{
        background: #eee;
        display: block;
        padding: 10px 0;
        color: white;
        font-size: 14px;
    }
}
#fblogin{
    a{
        background: #3b5998;
    }
}
#googlelogin{
    a{
        background: #dd4b39;
    }
}
.overlay-button{
    background: rgba(0,0,0,0.15);
    padding: 12px 20px;
    border-radius: 25px;
    display: block;
    width: 170px;
    font-family: Aller;
    margin: auto;
    box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.4);
    cursor: pointer;

    background: #0e4079;
}

#indexBook{
    background: #0c51a0;
    padding: 80px 0;
    color: white;
    font-family: QuickSandReg;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    .caption{
        font-size: 20px;
        margin-top: 15px;
        font-family: Aller;
    }
    .paragraph{
        margin: 40px auto;
        opacity: 0.7;
        padding: 0px 20px;
    }
}

#footer{
    font-family: QuickSandReg;
    color: white;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 30px 0;
    background: #0c51a0;
    text-align: center;
    .flex{
        width: 100%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-module{
        width: 100%;
        margin: 5px 20px;
        opacity: 0.8;
        font-size: 14px;
    }
    .inline{
        width: 35%;
        margin: 25px 0 0;
        img{
            display: inline;
            vertical-align: bottom;
        }
    }
}



// jopopup

.blue-anchor{
    color: #0c51a0;
    font-weight: bold;
}

.full-input{
    width: 100%;
    outline: none;
    padding: 13px 15px;
    font-size: 14px;
    font-family: Aller;
    color: black;
}
.curved{
    border-radius: 15px;

}
.outline-input{
    border: 2px solid #0c51a0;
}

.jo-popup{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    position: fixed;
    .popup-fader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
    }
    .form-container{
        background: white;
        width: 90vw;
        padding: 30px 10px;
        font-family: Aller;
        max-width: 350px;
    }
    .overlay-button{
        color: white;
        outline: none;
        box-shadow: none;
        margin: 30px auto;
    }
    .form-group{
        margin: 13px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .w50{
        padding: 5px 10px;
        font-size: 13px;
        align-items: center;

        color: #888;
    }
    .disclaimer{
        text-align: center;
        color: #888;
        font-family: Aller;
        font-size: 12px;
        font-weight: bold;
    }
}
.jo-checkbox{
    opacity: 0.5;
    margin-right: -13px;
    z-index: 5;
    opacity: 0;
    position: relative;
}
.jo-checkbox-mask{
    height: 12px;
    width: 12px;
    border: 2px solid #0c51a0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -1px;
    cursor: pointer;
}
.jo-checkbox-mask.active:after{
    content: "";
    height: 5px;
    width: 5px;
    background: #0c51a0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label{
    cursor: pointer;

}

.v-middle{
    vertical-align: middle;
}
.jo-popup.active{
    display: block;
}
.paragraph{
    max-width: 80% !important;
}
#travelBanner, #contactBanner{
    min-height: 30vh;
    // background: #333;
    background-size: cover;
}
#contactBanner{
    .text-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: Athiti;
        text-align: center;
        .contact-us-banner-title{
            font-family: Saturday !important;
            font-size: 60px;
        }
        .contact-us-banner-caption{
            display: none;
        }
    }
}
.section-container#travelBanner, .section-container#contactBanner{
    background-image: url(../img/global/top-banner.png);
    min-height: 30vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

#travel-banner-title {
    font-family: Saturday !important;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

#contactForm{
    min-height: 60vh;
    padding: 0 10px;
    .title{
        text-align: center;
        font-family: Aller;
        text-transform: uppercase;
        margin: 60px 0 40px;
        font-size: 27px;
    }
    .paragraph{
        text-align: center;
        width: 100%;
        line-height: 16px;
    }
    form{
        width: 100%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .form-group{
        margin: 10px 0;
    }
    .full-input{
        padding: 15px;
        background: #eee;
    }
    .full-input.tall{
        height: 150px;
        resize: vertical;
    }
    .dark{
        background: #333;
        color: white;
        cursor: pointer;
    }
}
.container{
    width: 100%;
    padding: 0 10px;
    margin: auto;
}
#travelSummary{
    text-align: center;
    font-family: Aller;
    padding: 30px 0;
    .package-duration{
        margin-top: 50px;
        font-family: Avenir;
        margin-bottom: 10px;
        color: #888;
        font-size: 14px;
    }
    .package-price{
        font-family: Nueva;
        font-size: 40px;
        .subcaption{
            font-family: Aller;
            font-size: 14px;
            font-weight: bold;
            margin-top: 0px;
        }
    }
    .package-flex{
        display: flex;
        justify-content: center;
        margin: 50px 0;
        .package-choice{
            margin: 0 10px;
            border: 1px solid black;
            padding: 10px;
            font-size: 14px;
            border-radius: 5px;
            color: black;
            font-weight: bold;
        }
    }
    .overlay-button{
        text-align: center;
        color: white;
        box-shadow: none;
        margin: 70px auto;
    }
    .paragraph{
        width: 100%;
    }
}

.slick-dots{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    li{
        display: inline-block;
        height: 10px;
        width: 10px;
        cursor: pointer;
        background: white;
        border: 2px solid #0e4079;
        margin: 0 10px;
        border-radius: 50%;
        button{
            display: none;
        }
    }
    li.slick-active{
        background: #0e4079
    }
}
#travelPrice{
    padding: 20px 0;
    text-align: center;
    .package-duration{
        font-family: QuickSandReg !important;
    }
    .package-price{
        font-size: 38px;
        font-family: Trajan !important;
        padding-bottom: 30px;
        .subcaption{
            font-size: 12px;
            opacity: 0.8;
        }
    }
    .package-flex{
        .package-title{
            font-family: QuickSandReg !important;
            font-size: 20px;
            padding-bottom: 20px;
        }
        .package-choice{
            padding: 5px 0;
            font-family: Avenir !important;

        }
    }
    .package-button{
        background: black;
        width: 150px;
        margin-top: 20px;
        color: white;
        padding: 15px 20px;
        text-align: center;
        font-family: QuickSandReg !important;
        margin: 20px auto;
    }
}
// #travelHighlights{
//     display: flex;
//     flex-wrap: wrap;
//     .highlight-module{
//         width: 100vw;
//         font-family: Avenir;
//         .slick-dots{
//             position: absolute;
//             bottom: 10px;
//             margin: 0;
//             li{
//                 border: 2px solid black;
//                 margin: 0 5px;
//             }
//             li.slick-active{
//                 background: black;
//             }
//         }
//     }
//     .highlight-desc{
//         padding: 30px;
//         background: #fafafa;
//     }
//     .w100{
//         width: 100%;
//         position: relative;
//         overflow: hidden;
//         img{
//         }
//     }
//     ul{
//         list-style: initial;
//         margin-left: 17px;
//         font-size: 14px;
//     }
//
//     li{
//         list-style: initial;
//         margin-top: 10px;
//         color: #555;
//     }
//     .bold{
//         font-weight: bold;
//         font-family: Aller;
//     }
// }
.section-container#travelBanner{
    min-height: 100vh;
    background: black;
    background-image: url('../img/banner-1.png');
    background-size: cover;
    position: relative;
    .text-container{
        padding: 20vh 30px;
        // top: 50%;
        // left: 50%;
        color: white;
        text-align: center;
        // // width: 50vw;
        // position: absolute;
        // transform: translate(-50%, -50%);
        .title{
            font-family: Saturday !important;
            font-size: 90px;
        }
        .sub-title{
            line-height: 27px;
            opacity: 0.7;
        }
    }
}
#travelHighlights{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    padding-bottom: 60px;
    .slick-dots{
        position: absolute;
        bottom: 30px;
        margin: 0;
        padding-left: 30px;
        // justify-content: flex-start;
        li{
            border: 0px solid white;
            margin: 0 10px;
            transition: all .3s ease;
            background: #aaa;
        }
        li.slick-active{
            background: black;
        }
    }
    *{
        outline: none;
    }
    .highlight-module{
        width: 25%;
        margin: 10px 0;
        font-family: Avenir;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        color: #555;
        position: relative;
        transition: all .3s ease;
        padding-bottom: 230px;
        border-right: 1px solid rgba(255,255,255,0.8);
        .slick-dots{
            position: absolute;
            bottom: 30px;
            margin: 0;
            padding-left: 30px;
            justify-content: flex-start;
            li{
                border: 0px solid white;
                margin: 0 5px;
                transition: all .3s ease;
                background: white;
            }
            li.slick-active{
                background: black;
            }
        }
        .w100{
            width: 100%;
            // height: 15vw;
            // min-height: 350px;
            position: relative;
            overflow: hidden;
            img{
                // min-width: 100%;
                width: 100%;
                // min-height: 100%;
                // max-height: 100%;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // transition: all .3s ease;
            }
            img:hover{
                // transform: scale(1.1);
            }
        }
    }
    .highlight-module:hover{
        z-index: 5;
        position: relative;
        border-radius: 3px;
        box-shadow: 0px 0px 5px 3px rgba(50, 50, 50, 0.15);
        .highlight-desc{
            background: white;
        }
        .highlight-desc.active{
            background: black;
        }
    }
    .highlight-desc{
        padding: 30px 30px 30px 30px;
        background: #fafafa;
        transition: all .3s ease;
        height: 230px;
        position: absolute;
        color: black;
        bottom: 0;
        left: 0;
        .read-handle{
            position: absolute;
            bottom: 20px;
            font-family: Avenir !important;
            border-bottom: 1px solid transparent;
        }
        .read-handle:hover{
            border-bottom: 1px solid black;
        }
        .day-container{
            position: absolute;
            height: 65px;
            width: 65px;
            background: black;
            color: white;
            border-radius: 50%;
            text-align: center;
            top: -32px;
            right: 20px;
            padding: 10px 0;
            font-size: 10px;
            transition: all .3s ease;
            .block{
                font-family: Trajan !important;
                font-size: 24px;
            }
        }
        .highlight-summary{
            padding: 10px 0;
            line-height: 23px;
            position: relative;
            overflow: hidden;
            height: 100px;
            transition: all .3s ease;
        }
    }
    .highlight-desc.active{
        height: 100%;
        background: black;
        color: rgba(255,255,255,0.8);
        .highlight-summary{
            height: 90%;
            overflow: auto;
            padding-right: 0px;
            padding-bottom: 50px;
        }
        .bold{
            font-size: 17px;
        }
        .day-container{
            top: 200px;
            opacity: 0;
        }
        .read-handle{
            display: none;
        }
        .close-handle{
            display: block;
        }
    }
    .close-handle{
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: 1px solid white;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-family: Trajan !important;
        font-size: 40px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        opacity: 0.8;
        transition: all .3s ease;
        display: none;
        transform: translateX(-50%) rotateZ(45deg) scale(1.1);
    }
    .close-handle:hover{
        opacity: 1;
    }
    ul{
        list-style: initial;
        margin-left: 17px;
        font-size: 14px;
    }

    li{
        list-style: initial;
        margin-top: 10px;
        color: #555;
    }
    .bold{
        margin-bottom: 10px;
        font-size: 15px;
        // font-weight: bold;
        // font-family: Aller;
    }
}

#tipsContainer{
    font-family: Avenir;
    margin: 40px 0;
    .tips-title{
        font-weight: bold;
        // margin-bottom: 20px;
    }
    .tips-handle{
        border: 1px solid black;
        padding: 15px;
        font-size: 14px;
        border-radius: 5px;
        margin: 10px 0;
        cursor: pointer;
        .tips-paragraph{
            color: #555;
            max-height: 0;
            overflow: hidden;
            transition: all .5s ease;

        }
    }
    .tips-handle.active{
        .tips-paragraph{
            max-height: 300px;
            margin-top: 10px;

        }
    }

}


#adminContainer{
    min-height: 100vh;
    padding: 20vh 0;
    font-family: QuickSandReg;
    text-align: center;
    position: relative;
    overflow: hidden;
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all .5s ease;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url('../img/admin/bg2.jpg');
    }
    .fader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: white;
        background: -moz-linear-gradient(top, rgba(255,255,255,0.32) 0%, rgba(255,255,255,0.32) 9%, rgba(255,255,255,0.47) 31%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.32) 9%,rgba(255,255,255,0.47) 31%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0.32) 0%,rgba(255,255,255,0.32) 9%,rgba(255,255,255,0.47) 31%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    .intro{
        text-transform: uppercase;
        font-size: 14px;
        color: #555;
        position: relative;
        z-index: 5;
        .username{
            color: black;
            font-weight: bold;
        }
    }
    .title{
        color: black;
        font-size: 26px;
        margin: 15px 0 15px;
        font-family: Aller;
        font-weight: bold;
        position: relative;
        z-index: 5;
    }
    .gallery-flex{
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        flex-wrap: wrap;
        .flex-module{
            width: 50%;
            height: 350px;
            margin: 20px 0;
            border: 3px solid transparent;
            transition: all .3s ease;
            cursor: pointer;
            border-radius: 18px;
            position: relative;
            overflow: hidden;
            .img-fader{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 1%, rgba(0,0,0,0) 47%, rgba(0,0,0,1) 79%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 1%,rgba(0,0,0,0) 47%,rgba(0,0,0,1) 79%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(0,0,0,0) 47%,rgba(0,0,0,1) 79%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
            }
            img{
                height: 280px;
                display: block;
            }
            .hover-tint{
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.8);
                position: absolute;
                top: 0;
                left: 0;
                color: white;
                font-size: 13px;
                opacity: 0;
                transition: all .3s ease;
                img{
                    width: 40px;
                    height: auto;
                    display: block;
                    margin: 0 auto 20px;
                }
            }
            .flex-info{
                color: white;
                position: absolute;
                bottom: 30px;
                left: 20px;
                text-align: left;

                .info-period{
                    font-size: 11px;
                    font-family: MyriadPro;
                }
                .info-destination{
                    text-transform: uppercase;
                    margin-top: 5px;
                    font-family: MyriadPro;
                }
            }
        }
        .flex-module:hover{
            border: 3px solid white;
            .hover-tint{
                opacity: 1;
            }
        }
    }
}

#adminGallery{
    min-height: 100vh;
    padding: 20vh 0;
    font-family: QuickSandReg;
    text-align: center;
    position: relative;
    overflow: hidden;
    .container{
        // width: 90vw;
    }
    .title{
        color: black;
        font-size: 26px;
        margin: 15px 0 5px;
        font-family: Aller;
        font-weight: bold;
        position: relative;
        z-index: 5;
    }
    .subcaption{
        font-size: 13px;
        font-family: MyriadPro;
        color: #777;
    }
    .admin-gallery-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        .flex-module{
            border: 1px solid white;
            height: 45vw;
            width: 45vw;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
            }

        }
    }
}

.download-button{
    background: white;
    padding: 20px 25px 15px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
    width: 260px;
    margin: 40px auto;
    border-radius: 13px;
    font-size: 16px;
    color: black;
    font-family: MyriadPro;
    cursor: pointer;
    div{
        padding-bottom: 5px;
    }
    span{
        margin-top: 10px;
        font-size: 13px;
        opacity: 0.4;
    }
}

.popup-parent{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 55;
    top: 0;
    left: 0;
    display: none;
    .fader{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
    }
    .image-container{
        z-index: 5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90vw;
        max-height: 90vh;
        img{
            max-width: 90vw;
            max-height: 90vh;
            display: block;
        }
    }
}

.popup-parent.active{
    display: block;
}

#adminAccount{
    min-height: 100vh;
    padding: 20vh 0;
    font-family: QuickSandReg;
    text-align: center;
    position: relative;
    overflow: hidden;
    .title{
        font-family: Aller;
        font-weight: bold;
        font-size: 20px;
    }
    .flex{
        display: flex;
        text-align: left;
        justify-content: space-between;
        padding: 20px;
        flex-wrap: wrap;
    }
    .w100{
        width: 100%;
        margin-bottom: 50px;
    }
    .border-form{
        background: white;
        padding: 20px 15px 15px;
        box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
        border-radius: 15px;
        margin: 30px 0;
        position: relative;
    }
    .form-group{
        .full-input{
            border-bottom: 1px solid #aeaeae;
            padding: 5px;
            margin-top: 10px;
        }
        .caption{
            font-size: 13px;
            font-family: MyriadPro;
            color: #aeaeae;
        }
    }
    .form-group:focus{
        .full-input{
            border-bottom: 1px solid #222;
        }
        .caption{
            color: #222;
        }
    }
    .button-container{
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
    }
    .button-container:after{
        content: "";
        height: 20px;
        width: 10px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%) rotateZ(-135deg);
        z-index: 5;
    }
    .rounded-submit{
        width: 65px;
        height: 65px;
        background: black;
        cursor: pointer;
        border-radius: 50%;
    }
    .cancel-btn{
        position: absolute;
        bottom: -30px;
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-family: MyriadPro;
        color: #aeaeae;
    }
}


@media screen and (min-width: 680px) {
    .logo-container{
        margin: auto;
    }
    #destinationBanner{
        .choice-module {
            width: 50vw;
            position: relative;
            overflow: hidden;
        }
    }
    #indexBanner3 {
        .paragraph {
            width: 80%;
        }
    }
    #indexBook {
        .paragraph {
            margin: 40px auto;
            opacity: 0.7;
            padding: 0px 20px;
            width: 80%;
        }
    }
    #travelHighlights {
        .w100{
            min-height: 26vh;
            img{
                max-width: 100%;
            }
        }
        .highlight-module {
            width: 50vw;
            font-family: Avenir;
        }
    }
}

@media screen and (min-width: 980px) {
    #destinationBanner{
        .choice-module {
            width: 50vw;
            position: relative;
            overflow: hidden;
            height: 40vh;
            img{
                width: 100%;
            }
        }
    }
    #indexBanner3 {
        .paragraph {
            width: 80%;
        }
    }
    #indexBook {
        .paragraph {
            margin: 40px auto;
            opacity: 0.7;
            padding: 0px 20px;
            width: 80%;
        }
    }
    #travelHighlights {
        .w100{
            min-height: 30vh;
            img{
                max-width: 100%;
                min-height: 100%;
            }
        }
        .highlight-module {
            width: 33.3vw;
            font-family: Avenir;
        }
    }
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.div-post-item {
    display: flex;
    flex-wrap: wrap;
}
.div-post-item-image {
    width: 100%;
}
img.post-item-image {
    display: block;
    width: 100%;
}
.div-post-item-con {
    width: 100%;
    padding: 10px 10px;
    .div-post-item-date {
        font-size: 14px;
        opacity: 0.65;
    }
    .div-post-item-title {
        font-size: 24px;
        padding: 10px 0;
    }
    .div-post-item-paragraph {
        opacity: 0.8;
        padding: 0px 0 20px;
        font-size: 14px;
        line-height: 1.4;
    }
    .div-post-item-button {
        padding: 5px 0;
        border-bottom: 1px solid black;
        display: inline-block;
    }
}
.post-date {
    font-size: 24px;
    margin: 40px 0 0;
}
a.post-anchor {
    padding: 25px 0;
    border-bottom: 1px solid #eee;
    display: block;
    width: 100%;
}

#section-post-detail{
    padding-top: 90px;
    .sm-container{
        padding: 0 15px;
        margin: auto;
    }
    .div-post-detail-time-container {
        text-align: center;
        opacity: 0.7;
    }
    .div-post-detail-title {
        font-size: 40px;
        text-align: center;
        padding: 10px 0 20px;
    }
    img.div-post-detail-image {
        width: 90%;
        margin: auto;
    }
    .div-post-detail-paragraph {
        color: #888;
        line-height: 1.4;
        padding: 20px 15px 30px;
        font-size: 14px;
        p{
            padding: 5px 0;
        }
    }
}
section#section-post-not-found {
    min-height: 86vh;
    .div-post-not-found {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 35px;
        letter-spacing: 1px;
        width: 100%;
        text-align: center;
    }
}


.pagination{
    display: flex;
    justify-content: center;
    padding: 20px 0 40px;
    width: 100%;
    li{
        margin: 0 10px;
        cursor: pointer;
        padding: 0 5px;
        opacity: 0.5;
    }
    li:hover{
        opacity: 0.8;
    }
    li.active{
        opacity: 1;
    }
    li.disabled{
        opacity: 0.2;
    }
}

.close-button {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 20px;
    transform: rotateZ(45deg);
    cursor: pointer;
}

div#whoWeAreBanner {
    padding: 20vh 5vw;
    text-align: center;
    line-height: 1.5;
    .contact-us-banner-title {
        font-size: 20px;
    }
    .contact-us-banner-title:after {
        content: "";
        width: 40px;
        border-bottom: 1px solid white;
        display: block;
        margin: auto;
        padding-top: 12px;
    }
    .who-we-are-footer{
        color: white;
        padding-top: 20px;
        font-family: Trajan !important;
    }
}
.section-container#contactBanner{
    background-image: none;
    padding-top: 80px;
    .title{
        margin: 20px 0 !important;
        font-family: Trajan !important;
        text-transform: uppercase;
        font-size: 18px;
    }
    .text-container{
        position: static;
        transform: none;
    }
    .paragraph.flexdiv {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}
.section-container#contactBanner .contact-us-banner-title {
    font-size: 25px;
    font-family: QuicksandReg !important;
    position: relative;
}

.flexdiv{
    display: flex;
    width: 750px !important;
    justify-content: space-around;
    .special{
        padding-top: 50px;
        line-height: 20px;
        b{
            font-size: 12px;
            font-weight: bold;
            display: block;
            margin-bottom: -10px;
        }
        a{
            opacity: 0.8;
            font-size: 14px;
        }
    }
}

.coming-soon.no-content-available.be-spoke-comingsoon {
    min-height: 90vh;
    background-position: center center;
    background-size: cover;
    padding: 40vh 0;
    text-align: center;
    font-size: 40px;
}


.home-sharing-title{
    display: none;
}
.home-sharing{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto 20px;
    justify-content: space-between;
    .home-sharing-content {
        padding: 10px 15px;
        line-height: 25px;
    }
    .home-sharing-date{
        padding: 0 15px;
        font-size: 13px;
        opacity: 0.6;
    }
    .home-sharing-data{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        padding: 0 5px;
        img{
            display: block;
            width: 100%;
        }
    }
}
.home-sharing-button {
    a{
        border: 1px solid white;
        padding: 10px 20px;
        display: inline-block;
    }
}
